@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.midwife-container:nth-child(3n-2) {
  background-color: #32533d;
  border-top-left-radius: 8rem;
  color: #d1c2b5;
}
.midwife-container:nth-child(3n-1) {
  background-color: #d1c2b5;
  color: #32533d;
}
.midwife-container:nth-child(3n) {
  background-color: #9ba2ff;
  border-bottom-right-radius: 8rem;
  color: #32533d;
}
@font-face {
  font-family: "Ogg";
  font-display: auto;
  src: url("/fonts/Ogg-Roman.otf") format("truetype");
  font-style: bold;
  font-weight: 800;
  font-display: swap;
}
